ol {
margin:0;
padding:0;
}

.c8 {
max-width:468pt;
background-color:#fff;
padding:72pt;
}

.c3 {
color:inherit;
text-decoration:inherit;
}

.c7 {
color:#15c;
text-decoration:underline;
}

.c1 {
font-size:14pt;
}

.c5 {
font-weight:700;
}

.c0 {
direction:ltr;
}

.c6 {
font-family:"Courier New";
}

.c4 {
font-size:12pt;
}

.c2 {
height:11pt;
}

.title {
padding-top:24pt;
line-height:1.15;
text-align:left;
color:#000;
font-size:36pt;
font: 10pt "Droid Sans", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans",
font-weight:700;
padding-bottom:6pt;
}

.subtitle {
padding-top:18pt;
line-height:1.15;
text-align:left;
color:#666;
font-style:italic;
font-size:24pt;
font-family:Georgia;
padding-bottom:4pt;
}

li {
color:#000;
font-size:11pt;
font: 10pt "Droid Sans", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans",
}

p {
color:#000;
font-size:11pt;
font: 10pt "Droid Sans", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans",
margin:0;
}

h1 {
padding-top:24pt;
line-height:1.15;
text-align:left;
color:#000;
font-size:18pt;
font: 10pt "Droid Sans", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans",
font-weight:700;
padding-bottom:6pt;
}

h2 {
padding-top:18pt;
line-height:1.15;
text-align:left;
color:#000;
font-size:14pt;
font: 10pt "Droid Sans", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans",
font-weight:700;
padding-bottom:4pt;
}

h3 {
padding-top:14pt;
line-height:1.15;
text-align:left;
color:#666;
font-size:12pt;
font: 10pt "Droid Sans", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans",
font-weight:700;
padding-bottom:4pt;
}

h4 {
padding-top:12pt;
line-height:1.15;
text-align:left;
color:#666;
font-style:italic;
font-size:11pt;
font: 10pt "Droid Sans", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans",
padding-bottom:2pt;
}

h5 {
padding-top:11pt;
line-height:1.15;
text-align:left;
color:#666;
font-size:10pt;
font: 10pt "Droid Sans", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans",
font-weight:700;
padding-bottom:2pt;
}

h6 {
padding-top:10pt;
line-height:1.15;
text-align:left;
color:#666;
font-style:italic;
font-size:10pt;
font: 10pt "Droid Sans", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans",
padding-bottom:2pt;
}